@{
    Layout = "~/Areas/razor/Views/Shared/_WebLayout.cshtml";
}
    <link href="@Url.Content("~/Content/shared/suite.css")" rel="stylesheet">
    <h1 class="header">Iron Framework</h1>
    <div id="page">
        <div class="suites">
            <div class="suite-column">
                <h2>About Us</h2>
                @(
 Html.Kendo().QRCode()
    .Name("qrUrl")
.Value("https://github.com/megadotnet/")
    .ErrorCorrection(QRErrorCorrectionLevel.H)
    .Size(240)
    .Border(border => border.Color("#000000").Width(5)))
            </div>

            <div class="suite-column">
                <h2><a href='@(Url.Content("~/Razor/grid/foreignkeycolumn"))'>DataGrid</a></h2>
     
            </div>
        </div>
    </div>
